$color-blue: #20a4f3;
$color-white: rgb(238, 237, 237);
$color-grey: rgb(110, 110, 110);

$font-primary: 'Poppins', sans-serif;
$font-display: 'Luckiest Guy', cursive;
$font-cursive: 'Sacramento', cursive;
$font-lowercase: 'Baloo', cursive;

* {
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  font-family: $font-primary;
}
.background {
  background-color: rgb(1, 118, 156);
  background-image: url('/img/background-darker.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.heading-container {
  height: 14rem;
  padding: 2rem 0 0 2rem;
  line-height: 1.2;
  display: flex;
  align-items: center;
}

.heading {
  text-align: left;
  color: $color-white;
  text-shadow: 1px 1px 3px rgba($color-grey, 0.6);
  font-size: 1.6rem;
  &--display {
    font-size: 5rem;
    font-family: $font-display;
  }
  &--cursive {
    font-size: 5rem;
    font-family: $font-cursive;
  }
}

.sub-heading-container {
  padding: 0 2rem;
  line-height: 0;
}

.btn {
  margin: 0 2rem 0 10rem;
  border: none;
  background-image: linear-gradient(top, lighten($color-blue, 20), $color-blue);
  border-radius: 50%;
  box-shadow: 0 5px 8px 6px rgba($color-grey, 0.4),
    inset 0 5px 10px 10px rgba($color-white, 0.3);
  height: 12rem;
  width: 12rem;
  font-size: 5rem;
  font-family: $font-display;
  padding-top: 1rem;
  text-transform: uppercase;
  color: $color-white;
  text-shadow: 1px 1px 3px rgba($color-grey, 0.6);
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn:hover {
  background-image: linear-gradient(
    top,
    lighten($color-blue, 18),
    darken($color-blue, 2)
  );
  box-shadow: 0 5px 8px 6px rgba($color-grey, 0.6),
    inset 0 5px 10px 10px rgba($color-white, 0.3);
}

.btn:active {
  box-shadow: 0 2px 5px 3px rgba($color-grey, 0.3),
    inset 0 5px 8px 8px rgba($color-white, 0.2);
  transform: translateY(1px);
  text-shadow: 1px 1px 5px rgba($color-grey, 0.8);
}

.btn:focus {
  outline: none;
}

.message-container {
  float: left;
  margin: 3rem 6rem 1rem 6rem;
  font-size: 2rem;
  color: $color-white;
  padding: 2rem;
  text-shadow: 1px 1px 3px rgba($color-grey, 0.6);
}

.lowercase {
  font-family: $font-lowercase;
  text-transform: lowercase;
}

.credit {
  color: #000;
  vertical-align: text-bottom;
  font-size: 8px;
  position: absolute;
  right: 5px;
  bottom: 5px;
}
a {
  text-decoration: none;
  color: #000;
}
