$color-primary: #fe4a49;
$color-secondary: #cc4343;
$color-beige: #faf3dd;

$color-white: #fdfafd;
$color-black: #111111;

$color-blue: #2e294e;
$color-teal: #1b998b;
$color-green: #c5d86d;

$font-primary: 'Montserrat', sans-serif;
$font-cursive: 'Sacramento', cursive;

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: $color-beige;
  min-height: 100vh;
  font-family: $font-primary;
  font-weight: 400;
  color: $color-white;
  line-height: 1.6;
}

.container {
  width: 70%;
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 3rem;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem 0.5rem rgba($color-black, 0.5);
  background-image: linear-gradient(
    to right bottom,
    lighten($color-primary, 8),
    $color-secondary
  );
  overflow: hidden;
  display: grid;
  grid-template-rows: auto minmax(33rem, 1fr);
  grid-template-columns: 1fr 2fr;
  grid-template-areas: 'head head' 'side main';
}

//***** HEADER SECTION *****//
.mobile__logo {
  display: none;
  visibility: hidden;
}
.header {
  grid-area: head;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0 5rem 0;
  &__title {
    font-size: 4.5rem;
    font-weight: 400;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-shadow: 1px 3px 3px $color-secondary;
  }
  &__logo {
    font-size: 6rem;
    color: lighten($color-primary, 20);
    text-shadow: 1px 3px 3px $color-secondary;
    margin: 0 1rem;
  }
}

//***** BUTTONS SECTION *****//
.btn-container {
  grid-area: side;
  border-right: 1px solid $color-white;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.btn {
  width: 14rem;
  padding: 1.5rem 2rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: $font-primary;
  color: $color-white;
  font-weight: 500;
  text-shadow: 0 2px 2px rgba($color-black, 0.3);
  box-shadow: 1px 6px 6px $color-secondary;
  border-radius: 10rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  &:focus {
    outline: none;
  }
  &:hover {
    transform: translateY(1px);
    box-shadow: 1px 2px 2px $color-secondary;
  }

  &__savory {
    background-image: linear-gradient(
      to right bottom,
      lighten($color-teal, 8),
      darken($color-teal, 8)
    );
  }
  &__sweet {
    background-image: linear-gradient(
      to right bottom,
      $color-green,
      darken($color-green, 30)
    );
  }
  &__random {
    background-image: linear-gradient(
      to right bottom,
      lighten($color-blue, 10),
      darken($color-blue, 8)
    );
  }
}

//***** RECIPE/INGREDIENTS SECTION *****//
.recipe-container {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 3rem 4rem;
  padding-left: 1rem;
  font-size: 2rem;
  letter-spacing: 1px;
  min-height: 20rem;
}
.recipe {
  margin-bottom: 2rem;
  &__ingredients-list {
    list-style: none;
  }
}

//MEDIA QUERIES

@media only screen and (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
  .mobile__logo {
    display: inline-block;
    visibility: visible;
    font-size: 4rem;
    padding-bottom: 5px;
    color: lighten($color-primary, 20);
    text-shadow: 1px 3px 3px $color-secondary;
  }
  .header {
    display: block;
    line-height: 1.1;
    text-align: center;
    &__title {
      letter-spacing: 4px;
    }
    &__logo {
      display: none;
      visibility: hidden;
    }
  }
  .btn-container {
    grid-area: side;
    border-right: 1px solid $color-white;
    height: 70%;
  }
  .recipe-container {
    margin: 1rem 4rem;
  }
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 50%;
  }
  .container {
    width: 80vw;
    display: flex;
    flex-direction: column;
  }
  .header {
    margin: 3rem 0;
    &__title {
      font-size: 3.4rem;
      font-weight: 400;
      letter-spacing: 3px;
    }
  }
  .btn-container {
    display: flex;
    flex-direction: row;
    border: none;
    justify-content: center;
  }
  .btn {
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  .recipe-container {
    margin: 3rem;
  }
  .recipe {
    margin: 0 auto;
    &__directions {
      margin: 0 auto;
      padding-top: 2rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 85vw;
    padding: 1.5rem;
  }
  .header {
    margin: 2rem 0;
  }
  .btn {
    padding: 1.5rem 2rem;
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
  .recipe-container {
    margin: 2rem;
  }
  .recipe {
    padding-top: 1rem;
    &__directions {
      margin: 0 auto;
      padding: 2rem 4rem;
    }
  }
}

@media only screen and (max-width: 450px) {
  .container {
    width: 95vw;
    height: 85vh;
  }
  .btn-container {
    height: 25%;
    display: flex;
    flex-direction: column;
  }
  .btn {
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &:not(:last-child) {
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }
  .recipe-container {
    margin-top: 2rem;
  }
  .recipe {
    &__directions {
      margin: 0 auto;
      padding: 1rem 0;
    }
  }
}
